* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #05386B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background: #EDF5E1;
}

.header {
  background-color:#2bbbad;
  color: white;
  width: 100%;
  height: 46px;
}

.header_title {
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header .navButton {
  height: 100%;
  width: 20px;
  margin-top: 0;
  margin-left: 15px;
  margin-right: 10px;
  color: white;
  font-size: 25px;
  padding: 0;
}

.header .navButton:hover {
  background-color: darkgrey;
  color: black;
}

/* Changing smaller submit button */
.smallerButton {
  margin-top: 30px;
  width: 35%;
  padding: 10px 10px 10px 10px;
}

/* Remember me font style change to keep consistent*/
#rememberMe {
  font-family: 'Helvetica',
    'Verdana',
    sans-serif;
}

/* Login button font style change to keep consistent */
.submitButtonFont {
  font-family: Helvetica, 'Verdana', sans-serif;
}

.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader #spinner {
  box-sizing: border-box;
  stroke: #673AB7;
  stroke-width: 3px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* Full-width input fields */
input[type=text],
input[type=password],
textarea,
select,
#problemDate {
  width: 100%;
  padding: 10px 17px;
  margin: 5px 0px;
  display: inline-block;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  font-family: 'Helvetica',
    'Verdana',
    sans-serif;
}

.roundedEdges, #problemDate, #description {
  border-radius: 4px;
}

option[value=""]:disabled {
  color: darkgrey;
  display: none;
}

select:invalid {
  color: darkgrey;
}

button {
  background-color: #2bbbad;
  border: 0px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 12px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Center the image */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 10px;
  min-width: 250px;
  background: white;
  border-radius: 25px;
}

/* From this link: https://product.hubspot.com/blog/how-to-build-a-sleek-animated-input-form-with-css */

form {
  text-align: center;
}

.labelTransitions {
  display: block;
  letter-spacing: 4px;
  padding-top: 15px;
  text-align: center;
}

.labelTransitions .label-text {
  color: #9B9B9B;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-45px);
  -ms-transform: translateY(-45px);
  -webkit-transform: translateY(-45px);
  transform: translateY(-45px);
  transition: all 0.4s;
}

.labelTransitions input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  margin-bottom: 5px;
  color: dimgray;
  font-size: 25px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.4s;
  width: 200px;
}

#username {
  margin-top: 40px;
}

#password {
  margin-top: 20px;
}

.labelTransitions input:focus {
  max-width: 100%;
  width: fit-content;
  min-width: 50px;
}

.labelTransitions input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  -moz-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  -webkit-transform: translateY(-90px);
  transform: translateY(-90px);
}

.labelTransitions input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

/* Check up until this point" */

/* .box select {
  font-family: 'Helvetica',
  'Verdana',
  sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
 
  display: block;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
  
  border: none;
  border-radius: 11px;
  background-color: rgb(255, 255, 255);
  
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-appearance: button;
  outline: none;
} */

.dbCustomCss .select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 14px;
  padding-left: 0px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #05386b transparent !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #05386b transparent transparent transparent !important;
} 

.select2-container .select2-selection--single {
  height: 44px !important;
}

.select2-selection__rendered {
  font-family: 'Helvetica',
  'Verdana',
  sans-serif;
  color: #6d6d6d !important;
  text-align: center;
  font-size: 25px;
  margin: 5px;
}

.select2-selection__arrow {
  margin: 5px;
}

.select2-results__options {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  opacity: 1;
}

.select2-results__option--highlighted { 
  background-color: #2bbbad !important;
  /* box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);  */
  margin: 3px;
}

.select2 {
  width: 100% !important; 
}

.select2-selection--single {
  padding-left: 14px;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 100px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 300px;
  min-width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  display: none;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  border-radius: 25px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

.modules {
  display: none;
  padding: 10px;
}

#imageUpload {
  display: none;
}

#photoButton {
  background-image: url("../images/camera.png");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 100px;
  background-position: center;
  min-height: 5em;
  background-size: contain;
}

#description {
  font-family: 'Helvetica',
    'Verdana',
    sans-serif;
  min-height: 5em;
  height: 7em;
}

/* Side menu nav redo right here */

.kebab {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  position: fixed;
  top: 7px;
  right: 0px;
}

.kebab figure {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: white;
  margin: 3px;
}

.middle {
  transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(0.1px);
  filter: blur(0.1px);
}

.middle.active {
  transform: scale(4.5);
  transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  font-family: "Nunito", sans-serif;
  color: #05386B;
  transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  font-size: 22px;
  user-select: none;
}

.cross.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54);
}

h1 {
  font-size: 26px;
  background: #2bbbad;
  color: white;
  padding: 10px 8px;
  margin-bottom: 50px;
}

.onlySideNavDrop, .sideNavScheme {
  color: white;
  text-decoration: none;
  background-color: #2bbbad;
  border-radius: 12px;
}

.dropMenu {
  position: absolute;
  margin: 10px;
  height: fit-content;
  width: fit-content;
  right: 10px;
  top: 1.1em;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: 100% 0;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.16), 0px 20px 8px 0px rgba(0, 0, 0, 0.12);
}

.dropMenu li {
  display: block;
  margin: 3px;
}

.dropMenu li .onlySideNavDrop {
  width: 100%;
  padding: 1em 30px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}

.dropMenu li .onlySideNavDrop:hover {
  background: #05386B;
  /* box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19); */
  /* box-shadow: 0 2px 20px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
}

.dropMenu:hover ul {
  transform: scale(1);
}

ul {
  padding-inline-start: 0px;
}

.dropMenu.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
}

.follow {
  overflow: hidden;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: block;
  margin: 300px auto 0;
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

.follow i {
  margin-right: 20px;
  transition: margin-right 0.2s ease;
}

.follow:hover {
  width: 134px;
}

.follow:hover i {
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .follow {
    margin: 400px auto 0;
  }
}

/* Ends here */


/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: white;
  background-color: #2bbbad;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: darkgrey;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.card {
  font-family: 'Helvetica',
    'Verdana',
    sans-serif;
  background: white;
  display: inline-block;
  border: 1px solid #05386b;
  border-radius: 8px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

.locationDropCustomCss .select2-selection__rendered{
  text-align: left;
  font-size: 15.333px;
}

.locationDropCustomCss .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0%;
}

.locationDropCustomCss .select2-container {
  margin-bottom: 5px;
  margin-top: 5px;
}

#problemDate {
  margin-bottom: 10px;
}

.card h3 {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}