* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Noto Sans JP', Arial, sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../images/LoginBackground.jpg");
  background-size: cover;

}

html {
  overflow: auto;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.header {
  width: 100%;
  height: 56px;
  background: #ebe9e9;
  position: fixed;
  font-size: 20px;
  padding: 16px 16px 0 16px;
  will-change: transform;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  box-shadow: 0px 4px 5px 0 grey;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000;
}

.header {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  text-indent: -30000px;
  opacity: 0.54;
  -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  border: none;
  outline: none;
  cursor: pointer;
}

.header__title {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader #spinner {
  box-sizing: border-box;
  stroke: #673AB7;
  stroke-width: 3px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.dialog-container {
  background: rgba(0, 0, 0, 0.57);
  position: relative;
  left: 0;
  top: 0;
  width: 66.67rem;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
}

.dialog-container--visible {
  opacity: 1;
  pointer-events: auto;
}

.dialog {
  background: #FFF;
  border-radius: 2px;
  min-width: 300px;
  width: 66.67rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) translateY(30px);
  transform: translate(-50%, -50%) translateY(30px);
  -webkit-transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s, -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
}

.dialog-div {
  padding-left: 24px;
  padding-right: 24px;
}

.dialog-title {
  padding-top: 20px;
  font-size: 1.25em;
}

.dialog-body {
  padding-top: 20px;
  padding-bottom: 24px;
}

.dialog-body select {
  width: 100%;
  font-size: 2em;
}

.dialog-buttons {
  padding: 8px !important;
  float: right;
}

/* The Modal (background) */
.modal {
  /* position: fixed; */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../images/LoginBackground.jpg");
  background-size: cover;
  box-shadow: 0 16px 36px rgba(0, 0, 0, .32), 0 8px 12px rgba(0, 0, 0, .24);
}

/* Modal Content/Box */
.modal-content {
  max-width: 800px;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important; */
  background-color: #fefefe;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 16px 36px rgba(0, 0, 0, .32), 0 8px 12px rgba(0, 0, 0, .24);
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.4s;
  animation: animatezoom 0.4s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Set a style for all buttons */
button {
  background-color: #182bfb;
  color: white;
  font-size: 1.167rem;
  padding: 14px 20px;
  margin: 8px 0;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: RoyalBlue;
}

/* Center the image */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  color: white;
  border: none;
  background-color: #1a173a;
  padding: 12px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.167rem;
  -webkit-appearance: none;
}

iframe {
  border: none;
  height: 100%;
}

.inputText {
  display: block;
  width: 100%;
  height: 2.667rem;
  padding: 12px 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  font-size: 1.167rem;
  color: #333;
  background-color: #fbfbfb;
  -webkit-appearance: none;
}

textarea {
  height: 100%;
  width: 100%;
  padding-top: 4px;
  padding-left: 8px;
  border: 1px solid #aaa;
  border-radius: 10px;
  font-family: 'Roboto',
    'Noto Sans JP',
    Arial,
    sans-serif;
  font-size: 1.167rem;
  box-sizing: border-box;
  overflow: auto;
  resize: none;
}

.login_select {
  display: block;
  width: 100%;
  height: 2.667rem;
  padding-left: 12px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 10px;
  font-size: 1.167rem;
  background-color: #fbfbfb;
}

option {
  color: black;
}

option[value=""]:disabled {
  color: gray;
  display: none;
}

select:invalid {
  color: gray;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

#loginDialog {
  margin: 30% 5%;
}

#reportDialog {
  margin: 15% 5%;
}

#problemDate {
  display: block;
  width: 100%;
  font-family: 'Roboto',
    'Noto Sans JP',
    Arial,
    sans-serif;
  height: 2.667rem;
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 8px;
  border: 1px solid #aaa;
  border-radius: 10px;
  font-size: 1.167rem;
  color: #333;
  background-color: #fbfbfb;
  -webkit-appearance: none;
}

#description {
  min-height: 150px;
}

#my_camera {
  width: 320px;
  height: 240px;
  border: 1px solid black;
}

#locationButton,
#photoButton {
  width: 40%;
  padding: 10px 20px;
}

#locationButton {
  /* background-image: url("../images/location.png"); */
  background-repeat: no-repeat;
  background-position: center left 24%;
  background-size: 10%;
  float: left;
  margin-left: 7%;
}

#photoButton {
  /* background-image: url("../images/camera.png"); */
  background-repeat: no-repeat;
  background-position: center left 24%;
  background-size: 10%;
  float: right;
  margin-right: 7%;
}

#imageUpload {
  display: none;
}